{% extends "base.html" %}

{% block content %}
	<section class="mt-12 mb-8 dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
			<div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
				<div class="p-6 md:p-10">
					<h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-4">About Us</h2>
					<p class="text-lg text-gray-700 dark:text-gray-400 leading-relaxed mb-6">
						Welcome to our platform! We provide an innovative tool for predicting unemployment rates and salary potentials based on chosen majors from a rich dataset. With user-friendly features and advanced algorithms, users can input their preferred majors and receive accurate forecasts regarding future job market trends.
					</p>
					<p class="text-lg text-gray-700 dark:text-gray-400 leading-relaxed mb-6">
						Whether you're exploring potential career paths or planning educational pursuits, our platform empowers you with valuable insights to make informed decisions. We leverage data-driven analysis and predictive modeling to provide a valuable resource for individuals navigating the complexities of the modern job market, ultimately aiding in the pursuit of fulfilling and prosperous career opportunities.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div class="text-5xl text-center font-bold mb-10">Our Group Project</div>

	<div class="flex justify-center space-x-20">
		<div class="max-w-sm mb-24 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
			<a href="#">
				<img class="rounded-t-lg" src="../../static/assets/indra.jpg" alt="Indra Madaharsa" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Indra Madaharsa</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
					Hi! my name is Indra Madaharsa, i'm an intuitive, empathic, and an open minded person that loves to learn about web programming and all of it's thing. I love to learn something outside of programming too, because it helps me to learn about how the world works.
				</p>
			</div>
		</div>
		<div class="max-w-sm mb-24 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
			<a href="#">
				<img class="rounded-t-lg" src="../../static/assets/fiki.jpg" alt="M Fiqi Firmansyah" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Muhammad Fiqi Firmansyah</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">My name is M Fiqi Firmansyah I am a college student pursuing a degree in informatics engineering with a passion for creating something new and for always bringing new innovation. I bring a blend of skills to every project I undertake. Outside of work, you'll often find me watching movies or listening to music.</p>
			</div>
		</div>
		<div class="max-w-sm mb-24 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
			<a href="#">
				<img class="rounded-t-lg" src="../../static/assets/zoar.jpg" alt="Zoar Lewi Panjaitan" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">Zoar Lewi Panjaitan</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
					Hello! I'm Zoar Lewi Panjaitan, I'm a 19-year-old Computer Engineering student with a passion for data analysis and web development. I believe in the power of data to provide deep insights and precise solutions, making it an essential skill in today's digital age. Let's collaborate and harness the power of data to create something extraordinary together!
				</p>
			</div>
		</div>

	</div>
{% endblock %}
