{% extends "base.html" %}

{% block content %}
    <section class="mt-12 mb-10 dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
                <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">Learn more about your future career</h1>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Gain insightful information and valuable projections regarding your prospective career based from unemployment and salary rate.</p>
                <a href="#" id="scrollButton" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Get started below 
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
            <div class="grid md:grid-cols-2 gap-8">
                <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Unemployment rate analysis</h2>
                    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">'Unemployment Analysis' feature, where users input data related to their chosen majors and compare it against our extensive dataset to gain insights into future unemployment trends. By leveraging advanced algorithms and data comparison techniques, this feature provides users with valuable predictions, empowering informed decision-making in navigating the job market.</p>
                    <a href="/major" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Try here
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    </a>
                </div>
                <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">Salary analysis</h2>
                    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Through advanced calculations and comparison with our extensive dataset, users gain valuable insights into projected salary trends, aiding in informed decision-making for their future career paths. With this feature, users can confidently navigate the job market and make strategic choices aligned with their professional aspirations.</p>
                    <a href="/salary" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Try here
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.getElementById('scrollButton').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
            window.scroll({
                top: window.innerHeight, // Scroll to the top of the page
                behavior: 'smooth' // Smooth scrolling animation
            });
        });
    </script>
{% endblock %}