{% extends "base.html" %}

{% block content %}
	<section class=" dark:bg-gray-950 mt-16">
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
			<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Meet our team!</h1>
			<p class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Hello or should we say, Hello World! we are a college students in Universitas Negeri Semarang and we are from the Informatics Engineering major. The three of us have a similarity of interest with our own objective to learn more about Computer Science. Check below to know more about us!</p>
		</div>
	</section>

	<div class="flex justify-center space-x-20">
		<div class="max-w-sm mb-24 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
			<a href="#">
				<img class="rounded-t-lg" src="../../static/assets/indra.jpg" alt="Indra Madaharsa" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Indra Madaharsa</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
					Hi! my name is Indra Madaharsa, i'm an intuitive, empathic, and an open minded person that loves to learn about web programming and all of it's thing. I love to learn something outside of programming too, because it helps me to learn about how the world works.
				</p>
			</div>
		</div>
		<div class="max-w-sm mb-24 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
			<a href="#">
				<img class="rounded-t-lg" src="../../static/assets/fiki.jpg" alt="M Fiqi Firmansyah" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Muhammad Fiqi Firmansyah</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">My name is M Fiqi Firmansyah I am a college student pursuing a degree in informatics engineering with a passion for creating something new and for always bringing new innovation. I bring a blend of skills to every project I undertake. Outside of work, you'll often find me watching movies or listening to music.</p>
			</div>
		</div>
		<div class="max-w-sm mb-24 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
			<a href="#">
				<img class="rounded-t-lg" src="../../static/assets/zoar.jpg" alt="Zoar Lewi Panjaitan" />
			</a>
			<div class="p-5">
				<a href="#">
					<h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">Zoar Lewi Panjaitan</h5>
				</a>
				<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
					Hello! I'm Zoar Lewi Panjaitan, I'm a 19-year-old Computer Engineering student with a passion for data analysis and web development. I believe in the power of data to provide deep insights and precise solutions, making it an essential skill in today's digital age. Let's collaborate and harness the power of data to create something extraordinary together!
				</p>
			</div>
		</div>

	</div>
{% endblock %}
